@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  ::-webkit-scrollbar {
    width: 0;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
header {
  text-align: center;
  padding: 2.5em;
  width: 90%;
  margin: 0 auto;
}
.logo {
  display: flex;
  height: 3em;

  justify-content: space-between;

  img {
    max-width: 3em;
    height: auto;
  }
}
footer {
  margin-top: auto;
  background-color: #dfe1e3;
  padding: 0.8em;
  text-align: center;
  font-size: 1.2em;
  a {
    text-decoration: none;
    color: #6e6f71;
    margin: 2em;
    &.facebook:hover {
      color: #1a75bc;
    }
    &.instagram:hover {
      color: #d62976;
    }
    &.linkedin:hover {
      color: #0077b5;
    }
    &.location:hover {
      color: #940b0b;
    }
  }
}
.navbar {
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 10;
  a {
    text-decoration: none;
    color: #6e6f71;
    margin: 1.2em;
  }
  a:hover {
    color: #1a75bc;
  }
  .active {
    text-decoration: solid 3px underline;
  }
}

h1 {
  font-size: 2.5em;
  text-align: center;
}
h2 {
  font-size: 2em;
  margin: 0.5em;
  text-align: center;
  font-weight: 500;
}
p {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-indent: 1em;
  font-weight: 300;
  color: #6e6f71;
  @media (max-width: 768px) {
    font-size: 0.9em;
  }
  @media (max-width: 480px) {
    font-size: 0.8em;
  }
  @media (max-width: 320px) {
    font-size: 0.7em;
  }
}

// PAGE ACCUEIL
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  margin: 0 auto;
  max-width: 1200px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (max-width: 480px) {
    flex-direction: column;
  }
  @media (max-width: 320px) {
    flex-direction: column;
  }
  img {
    object-fit: contain;
    width: auto;
    height: 55vh;
  }
}
.home-text {
  h1 {
    font-size: 3em;
    text-align: left;
    font-weight: 600;
    color: #1a75bc;
    margin-bottom: 1em;
  }
  p {
    width: 90%;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    text-align: left;
    text-indent: 0;
  }
}

.btn-contact {
  margin-top: 2em;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 1em;
  box-shadow: inset #dfe1e3 -2px 2px 10px;
  height: 3em;
  width: 15em;
  padding: 0 2em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  span:first-child {
    display: inline;
  }
  span:last-child {
    display: none;
  }
}

.btn-contact:hover {
  background-color: #0056a3;
  color: #fff;
  span:first-child {
    display: none;
  }
  span:last-child {
    display: inline;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 1em;
  overflow: hidden;
  position: relative;
}

.list-item {
  position: absolute;
  width: 100%;
  text-align: left;
  animation: carousel 8s linear infinite;
}

.list-item:nth-child(1) {
  animation-delay: 0s;
}

.list-item:nth-child(2) {
  animation-delay: 2.66s;
}

.list-item:nth-child(3) {
  animation-delay: 5.33s;
}

@keyframes carousel {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  40% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

// PAGE PARTENAIRES
.partenaires {
  p {
    display: flex;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    padding: 2em;
    margin: 0 auto;
    max-width: 45em;
    text-indent: 0;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width: 480px) {
      flex-direction: column;
    }
    @media (max-width: 320px) {
      flex-direction: column;
    }
  }
}
.partenaires-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 2em;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
  img {
    max-width: 100%;
    height: auto;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.05);
    }
  }
}
.partenaires-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// PAGE CONTACT
.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em;
  padding: 2em;
}
.contact-mail {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  p {
    text-align: justify;
    text-align-last: unset;
    color: #000000;
  }
}
form {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
input {
  padding: 0.5em;
  margin: 0.5em 0;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 1em;
  &:hover {
    border-bottom: 2px solid #1a75bc;
  }
  &:focus {
    outline: none;
    border: 2px solid #1a75bc;
  }
}
textarea {
  font-family: inherit;
  font-weight: 500;
  padding: 0.5em;
  height: 10em;
  resize: none;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #000000;
  &:hover {
    border-bottom: 2px solid #1a75bc;
  }
  &:focus {
    outline: none;
    border: 2px solid #1a75bc;
  }
}
.btn-form {
  padding: 0.5em;
  margin: 0.5em 0;
  border: none;
  background-color: #000000;
  color: white;
  font-size: 1em;
  cursor: pointer;
  &:hover {
    background-color: #155a8a;
    transition: ease-out 0.3s;
  }
}

svg {
  margin-right: 0.5em;
}

// PAGE REALISATIONS

.realisations-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.realisations-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.realisation {
  position: relative;
  width: 50em;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.realisation-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.realisation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.realisation:hover img {
  transform: scale(1.1);
}

.realisation-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  h2 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  p {
    color: #fff;
    font-size: 1em;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    text-indent: 0;
  }
}

.realisation:hover .realisation-overlay {
  opacity: 1;
}
