@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  ::-webkit-scrollbar {
    width: 0;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
header {
  text-align: center;
  padding: 2em;
}
.logo {
  display: flex;
  height: 3em;
  padding: 0.5em;
  justify-content: space-between;

  img {
    max-width: 100%;
    height: auto;
  }
}
footer {
  margin-top: auto;
  background-color: #dfe1e3;
  padding: 0.8em;
  text-align: center;
  font-size: 1.2em;
  a {
    text-decoration: none;
    color: #6e6f71;
    margin: 2em;
    &.facebook:hover {
      color: #1a75bc;
    }
    &.instagram:hover {
      color: #d62976;
    }
    &.linkedin:hover {
      color: #0077b5;
    }
    &.location:hover {
      color: #940b0b;
    }
  }
}

.navbar {
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 10;
  a {
    text-decoration: none;
    color: #6e6f71;
    margin: 2em;
  }
  a:hover {
    color: #1a75bc;
  }
}
h1 {
  font-size: 2.5em;
  text-align: center;
}
h2 {
  font-size: 2em;
  margin: 0.5em;
  text-align: center;
  font-weight: 500;
}
p {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-indent: 1em;
  font-weight: 300;
  color: #6e6f71;
  @media (max-width: 768px) {
    font-size: 0.9em;
  }
  @media (max-width: 480px) {
    font-size: 0.8em;
  }
  @media (max-width: 320px) {
    font-size: 0.7em;
  }
}

// PAGE ACCUEIL
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  margin: 0 auto;
  max-width: 1200px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (max-width: 480px) {
    flex-direction: column;
  }
  @media (max-width: 320px) {
    flex-direction: column;
  }
  img {
    // border: 2px solid #000000;
    object-fit: contain;
    width: auto;
    height: 55vh;
  }
}
.home-text {
  h1 {
    font-size: 3em;
    text-align: left;
    font-weight: 600;
    color: #1a75bc;
    margin-bottom: 1em;
    // border: 2px solid #000000;
  }
  p {
    // border: 2px solid #000000;
    // height: 60vh;
    width: 90%;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    text-align: left;
    text-indent: 0;
  }
}

// PAGE PARTENAIRES
.partenaires-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 2em;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
  img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.05);
    }
  }
}

// PAGE CONTACT
.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px #1a75bc;
}
.contact-mail {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  p {
    text-align: justify;
    text-align-last: unset;
    color: #000000;
  }
}
form {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
input {
  padding: 0.5em;
  margin: 0.5em 0;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 1em;
  &:hover {
    border-bottom: 2px solid #1a75bc;
  }
  &:focus {
    outline: none;
    border: 2px solid #1a75bc;
  }
}
textarea {
  font-family: inherit;
  font-weight: 500;
  padding: 0.5em;
  height: 10em;
  resize: none;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #000000;
  &:hover {
    border-bottom: 2px solid #1a75bc;
  }
  &:focus {
    outline: none;
    border: 2px solid #1a75bc;
  }
}
button {
  padding: 0.5em;
  margin: 0.5em 0;
  border: none;
  background-color: #000000;
  color: white;
  font-size: 1em;
  cursor: pointer;
  &:hover {
    background-color: #155a8a;
  }
}
svg {
  margin-right: 0.5em;
}
